
.mt1 {
    margin-top: 10px;
}

.mt2 {
    margin-top: 20px;
}

.mt3 {
    margin-top: 30px;
}

.mt4 {
    margin-top: 40px;
}

.mb1 {
    margin-bottom: 10px;
}

.mb2 {
    margin-bottom: 20px;
}

.mb3 {
    margin-bottom: 30px;
}

.mb4 {
    margin-bottom: 40px;
}

.pl0 {
    padding-left: 0 !important;
}

/* header-menu */
.header {
    width: 100%;
    display: block;
    background: #353942;
}

.printStart {
    margin-left: 10px;
    border: 1px solid #fff;
    padding: 5px;
    vertical-align: middle;
    cursor: pointer;
}

.appHeaderLeft > a {
    font-size: 1rem;
    color: #ffffff;
    margin-top: 0px;
    text-align: left;
    padding-left: 30px;
    padding: 30px;
    display: inline-block;
    vertical-align: top;
    height: 20px;
}

.appHeaderLeft > a > p {
    margin-top: 7px;
    font-size: 0.8rem;
}

.headerLogo {
    width: 80px;
    position: relative;
    bottom: 4px;
}

main.content {
    background: #25313b;
}

main.bmComponent {
    background: #121212;
}

.toggleHeadBtn {
    background: #35b0b6;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.appHeaderLeft {
    height: 100%;
    background: #252629;
    text-align: left;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #494949;
}

.appHeaderLeft.bmComponent {
    background: #121212;
}

.rock {
    color: #ff6363;
}

.topClintInfo ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 17px;
    font-size: 0.8rem;
}

.topClintInfo ul {
    text-align: left;
    margin-left: 47px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    padding-top:10px;
}

.small-icon-menu {
    display: inline-block;
    width: 58%;
    text-align: right;
}

.borderLine {
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 25px;
    font-size: 1.5rem;
    font-weight: 500;
    width: 7%;
    margin-bottom: 0px;
    display: inline-block;
    color: #ffffff;
    background: #ffffff;
    margin-left: 0;
    text-align: center;
}

.loginColorSpan {
    color: #29c7ca;
}


.iconHeaderMenu > ul > li.storage {
    border-right: none;
}

.iconHeaderMenu > ul > li {
    display: inline-block;
    margin-right: 18px;
    padding-right: 18px;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 200;
    font-family: sans-serif;
    border-right: 1px solid #dedede;
}

.startBtn.onRecover {
    color: #37b9c8;
}

.lastLiM {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 9px;
}


.display-flex > div {
    vertical-align: middle;
    padding-top: 31px;
    color: #ffffff;
    text-align: left;
}

.logOutBox {
    border:1px solid #fff;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.lastMenu {
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    background: #252629;
    height: 4rem;
    padding: 0 20px;
    padding-top: 16px !important;
    color: #fff;
    border-left: 1px solid #515a67;
}


span.icoText {
    margin-left: 7px;
    display: inline-block;
}

.greenColor {
    color: #ffffff;
}

.dbDataTable > tbody {
    overflow-y: auto;
    height: 82.5vh;
}

/* header-menu-end */

/*main*/

.contentLeft {
    text-align: left;
    display: inline-block;
    padding-left: 13px;
    padding-top: 15px;
    width: 26%;
    height: 91vh;
}

.contentRight {
    display: inline-block;
    width: 73%;
    padding-top: 15px;
    align-items: start;
    vertical-align: top;
    height: 91vh;
}

.contentRight > div {
    display: inline-block;
    vertical-align: top;
    width: 36%;
    background: #252629;
    padding: 10px;
    margin: 0px 12px 0px 0px;
    border-radius: 5px;
}

.contentLeft > div {
    background: #252629;
    padding: 10px;
    border-radius: 5px;
    margin: 0px 10px 10px 0px;
}

.contentRight > div:first-child {
    width: 21%;
}

h3.titleText {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.execute {
    text-align: center;
    background: #fff;
    padding: 19px;
    display: flex;
    justify-content: space-between;
    margin-top: 0px !important;
}

.initBtn {
    background: #212121;
    color: #fff;
    border-radius: 5px;
    padding: 16px;
    margin: 12px 0 0 2px;
    font-size: 0.9rem;
    cursor: pointer;
    border: 1px solid;
}

.initBtn:hover {
    background: #fff;
    color:  #212121;
}

p.startStopP {
    border: 1px solid #ffffff;
    padding: 20px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.stopDiv {
    margin-left: 5px;
    width: 50%;
}

.stopDiv > select {
    margin-top: 0px;
    border-radius: 5px;
}

.leftActive {
    border-bottom: 1px solid #29c7ca;
    height: 19px !important;
    color: #29c7ca !important;
}

.settingWrapDiv {
    min-height: 85vh;
    padding: 40px;
}

.customSettingContainer {
    margin-top: 4rem;
}

ul.customClass li span {
    display: inline-block;
    margin-right: 22px;
    vertical-align: middle;
}

ul.customClass li {
    margin: 5px;
}

.settingImagePrint label {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 0 auto;
    padding: 8px;
    text-align: left;
}

.degreeDiv button {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 3px 23px;
    border-radius: 5px;
    margin-right: 5px;
    min-width: 150px;
    cursor: pointer;
}

.circular-progress-bar {
    width: 130px;
    height: 130px;
    position: relative;
    width: 100%;
}

.backupDiv {
    margin-top: 20px;
    text-align: center;
}

.backupInput {
    width: 160px;
    margin-bottom: 2px;
}

.settingDatePickers {
    display: flex;
    justify-content: center;
}

.settingDatePickers > div {
    margin: 0 12px;
}

.v3dp__input_wrapper > input {
    padding: 9px;
}

table.settingTable {
    width: 80%;
    text-align: left;
    margin: auto;
}

table.settingTable select{
    padding: 6px;
}

button.saveBtn, .defaultBtn {
    margin-top: 10px;
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 10px 80px;
    cursor: pointer;
}

.defaultBtn:hover, .saveBtn:hover{
    background: #ffffff;
    color: #000;
}

/*동그라미*/

.progress-ring-circle {
    fill: transparent;
    stroke-width: 4px;
    stroke: #506496;
    stroke-dasharray: 200;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.5s ease;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.rotate-animation {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.classTitle {
    font-weight: bold;
}
.nth1ChildOrder {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    padding: 4px 0;
    margin: 0 auto;
    position: relative;
    width: 200px;
    border-bottom: 1px solid #494949;
}

.nth1ChildOrder:hover{
    color: #29c7ca;
}

/*동그라미 끝*/
.categories, .nth1Child {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    padding: 2px;
    /*margin-left: 15px;*/
    position: relative;
    border-bottom: 1px solid #494949;
}

.classAttribute {
    background: #252629;
}

.classTotal {
    display: flex;
    color: #29c7ca;
    align-items: center;
}

.classTotal > :nth-child(1) {
    width: 40%;
    text-align: left;
}

.classTotal > :nth-child(2) {
    width: 40%;
    text-align: center;
}

.classTotal > :nth-child(3) {
    text-align: center;
    width: 20%;
}

.categoriesBm {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

ul.classInfo {
    width: 50%;
    display: inline-block;
}

.categoryNm {
    display: inline-block;
    width: 29%;
}
ul.degree.analysis {
    width: 20%;
}
.analysisWbc .categories > ul > li {
    height: 14px;
}
.classNmRbc {
    display: inline-block;
    text-align: left;
    min-width: 150px;
}

.degree {
    display: inline-block;
    width: 9%;
}

ul.nth1Child li {
    display: inline-block;
    font-size: 0.8rem;
    padding: 5px 0;
    cursor: move;
    user-select: none;
}

ul.nth1Child {
    display: flex;
    align-items: center;
}

ul.nth1Child > :nth-child(1) {
    width: 40%;
    text-align: left;
}

ul.nth1Child > :nth-child(2) {
    width: 40%;
    text-align: center;
}

ul.nth1Child > :nth-child(3) {
    text-align: center;
    width: 20%;
}

.degreeActive {
    color: #3498db;
}

.categories > ul > li {
    padding-top: 10px;
    font-size: 0.8rem;
    height: 17px;
    /*margin-bottom: 2px;*/
}
.categories > ul > li > span {
    display: inline-block;
    vertical-align: middle;
    min-width: 56%;
    font-size: 0.7rem;
}

.overlay-element {
    background: none transparent;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute !important; /* Ensure position is absolute */
    border: 2px solid; /* Ensure border is visible */
}
.categories > ul > li > div {
    display: inline-block;
    vertical-align: middle;
    width: 12%;
}
ul.slideContent.pb100a {
    width: 78%;
}
.categories > ul > li > svg {
    margin-right: 2px;
}

li.mb1.liTitle {
    font-weight: 600;
    margin-top: 20px;
}

.startBtn.isInit {
    color: #dedede;
}

.slideCardWrap {
    padding-top: 15px;
}

ul.slideContent li {
    width: 100%;
    height: 20px;
    background: #dedede;
    margin: 8px 0px;
    border-radius: 2px;
}

ul.slideContent {
    width: 45%;
    display: inline-block;
    margin: 5px;
}

ul.slideContent .class-for-state-1 {
    background: #37B9C8;
}

ul.slideContent .class-for-state-0 {
    background: #dedede;
}

@keyframes blinkBackground {
    0% {
        background-color: #dedede; /* 초기 배경 색상 */
    }
    50% {
        background-color: #3498db; /* 깜빡거리는 중간 배경 색상 */
    }
    100% {
        background-color: #dedede; /* 다시 초기 배경 색상 */
    }
}

ul.slideContent .class-for-state-2 {
    animation: blinkBackground 1s infinite; /* 1초 간격으로 무한 반복됨 */
}

ul.slideContent .class-for-state-3 {
    background: #2A5A98;
}

ul.slideContent .class-for-state-4 {
    background: #A73A3A;
}

ul.slideContent .out-for-state-0 {
    background: #dedede;
}

ul.slideContent .out-for-state-1 {
    background: #37B9C8;
}

ul.slideContent .outClassDefault {
    background: #4D4F5C;
}

.orderListTableContainer {
    height: 46.5vh;
}

.orderListTable {
    width: 100%;
}

.orderListTable th, .orderListTable td {
    font-size: 0.9rem;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

.orderListTable td {
    height: 23px;
    border-bottom: 1px solid #494949;
}

.orderListTable th {
    background: #212121;
    color: #ffffff;
}

p.slideTime {
    position: absolute;
    top: 53px;
    left: 40%;
    font-size: 0.9rem;
}

.startDiv {
    width: 50%;
}

.startDiv > select {
    width: 100%;
}

p.startStopP:hover {
    border: 1px solid #353942;
    background-color: #fff;
}

ul.slideContent > p {
    font-size: 0.8rem;
    font-weight: 600;
}

ul.processInfoUl > li {
    font-size: 0.9rem;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.contentRightChild {
    height: 68vh;
}

span.proSpan {
    font-weight: 600;
}

.contentBottom {
    width: 97.5% !important;
    min-height: 176px;
    margin-top: 10px !important;
}

.uimdLogin {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #252629;
}

.loginContent {
    margin: 0 auto;
    margin-top: 13%;
}

.joinContent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.joinContent p {
    font-weight: bold;
}

.joinContent input {
    box-shadow: none!important;
    width: 90%;
    display: inline-block;
    max-width: 250px;
}

.joinContent li {
    text-align: center;
}

.joinContent li span {
    min-width: 150px;
    display: inline-block;
    text-align: left;
}

.joinContent select {
    box-shadow: none;
    width: 91%;
    display: inline-block;
    max-width: 271px;
    height: 35px;
    margin-top: 3px;
}

.joinBtn {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 430px;
}

p.loginTitle {
    color: #fff;
    font-size: 3rem;
}

p.loginP {
    color: #fff;
}

ul.loginUl {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
}

.loginBtn > button {
    background: #3498db;
    border: none;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.loginFooter {
    text-align: left;
    padding: 0px 10px 10px 10px;
    font-size: 0.8rem;
    vertical-align: middle;
    color: #818181;
}

ul.loginUl li {
    color: #fff;
    text-align: center;
}

input.loginInput {
    width: 92%;
    border: none;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px #dedede;
}

.loginDiv {
    background: #f7fafc;
    max-width: 553px;
    margin: auto;
    min-height: 300px;
    border-radius: 5px;
    margin-top: 35px;
    padding: 30px 73px;

}

.runRed {
    color: #ff003b;
}

.runBlue {
    color: #2A5A98;
}

.blinking {
    animation: blink 0.5s infinite alternate;
}

@keyframes blink {
    0% {
        color: #ffffff;
    }
    100% {
        color: red;
    }
}

.oliCount {
    cursor: pointer;
}

.immersionOilContainer {
    padding-bottom: 16px;
    border-bottom:1px solid #fff;
}

.statusBarWrapper {
    width: 100%;
    height: 20px;
    margin: 5px 0;
    background-color: #063E5F;
}

.statusBar {
    width: 80%;
    height: 20px;
    margin-top: 5px;
    background-color: #0080C1;
}

ul.settingTabBtn {
    border:1px
}

ul.settingTabBtn li {
    display: inline-block;
    cursor: pointer;
    margin-right: 25px;
    min-width: 7%;
}

.settingWrap {
    padding: 0px 20px;
}


li.activeTab {
    font-weight: 600;
    border-bottom: 1px solid #3498db;
}

table.settingTable td, table.settingTable th {
    height: 45px;
    font-size: 1rem;
}

input.alarmInput {
    padding: 7px;
    box-sizing: border-box;
}

.range-slider {
    position: relative;
    width: 100%;
    height: 20px;
}

.slider-track {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #ccc;
    transform: translateY(-50%);
}

.slider-dot {
    position: absolute;
    top: 50%;
    width: 10px;
    height: 10px;
    background-color: #007bff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.degreeInput input {
    display: inline-block;
    max-width: 150px;
    margin: 0px 5px;
}

.degreeInput input {
    display: inline-block;
    max-width: 100px;
    margin: 0px 5px;
}

.rbcClassListArr {
    vertical-align: top;
    font-size: 1rem;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}

.rbcDegreeCategoryNm {
}

.settingTabSubButtons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.settingTabSubButtons button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    background: #ffffff;
    color: #333;
    font-size: 16px;
    border-radius: 5px;
}

.settingTabSubButtons button.active {
    background-color: #29c7ca;
    color: #fff;
}

.filterListDiv {
    position: relative;
    left: 10px;
    top: 10px;
}

.filterListDiv > div {
    display: flex;
}

.filterListDiv > div > button {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px;
    position: relative;
    left: 43px;
    margin-right: 6px;
}

table.defaultTable thead tr {
    background: #252629;
}

table.defaultTable thead th .table{
    background: #c7cad1;
}


table.defaultTable thead th, table.defaultTable tbody td {
    padding: 10px;
    font-size: 0.9rem;
    text-align: center;
    vertical-align: middle;
    width: calc(100% / 13);
}

table.defaultTable tbody td {
    border-bottom: 1px solid #dedede;
}

.listBox {
    width: 29%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    background: #252629;
    border-radius: 9px;
    margin-left: 8px;
    margin-right: 8px;
}

.listBox div {
    padding: 10px;
}

.listBoxTable {
    width: 70%;
    display: inline-block;
    text-align: left;
    background: #252629;
    border-radius: 9px;
}

.text-center {
    text-align: center;
}

.filterDivBox {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    background: #000;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #fff;
    max-width: 280px;
}

.filterDivBox > div {
    padding-bottom: 2rem;
}

.filterDivBox > div > span {
    border-bottom: 1px solid white;
    display: inline-block;
    margin-bottom: 5px;
}

.filterDivBox input {
    width: 85%;
}

.filterDivBox select {
    width: 95%;
}

.selectedTr {
    border: 3px solid #29c7ca;
    background: #29c7ca;
}

h3.titleH3 {
    text-align: left;
    padding: 10px;
}

h3.titleH3 button {
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}

ul.wbcInfoDbUl > li {
    display: inline-block;
    border: 1px solid #dedede;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    min-width: 50px;
    font-size: 0.8rem;
    vertical-align: middle;
}

.projectVersion {
    position: absolute;
    right: 28%;
    top: 3%;
}
.circle {
    text-align: center;
    padding-top: 7px;
}

.titleImg {
    position: absolute;
    color: #000;
    background: none;
    z-index: 5;
}

.titleImg div {
    font-weight: bold;
    font-size: 1.1em;
    background: #37B9C8;
}

.cellImg {
    vertical-align: top;
}

.hh3title {
    font-weight: 600;
    border-bottom: 1px solid #939393;
}

.infoImageTitle {
    margin-left: 10px;
}

ul.wbcInfoDbUl {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-x: auto;
}

ul.wbcInfoDbUl .circle {
    padding-top: 13px;
    cursor: pointer;
}

ul.wbcImgWrap > li {
    display: inline-block;
    margin: 5px;
    cursor: move;
}

.wbcImgWrap {
    text-align: left;
    min-height: 150px;
}

.selected-image {
    outline: solid #20eaa7 !important;
}
.context-menu.detail {
    height: 250px;
    overflow-y: auto;
    text-align: left;
}
.databaseWbcRight {
    display: inline-block;
    width: 24%;
    vertical-align: top;
    text-align: left;
    margin-right: 10px;
}

.databaseWbcRight img {
    width: 100%;
}

.databaseWbcLeft {
    display: inline-block;
    width: 70%;
    vertical-align: top;
}

ul.cellImgBox {
    max-height: 76.9vh;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: left;
    padding-left: 20px;
    background: #252629;
}

.wbcClassScroll {
    max-height: 75vh;
    overflow-x: auto;
}

ul.cellImgBox input {
    width: 13px;
}
.reportSection.cbcLayer {
    display: inline-flex;
}

.reportSection.cbcLayer .reportDiv {
    width: 76.5%;
    padding-left: 8px;
}

.reportSection.cbcLayer .cbcDiv {
    margin-top: 10px;
    height: 91vh;
    margin-left: 47px;
}

.reportSection.cbcLayer ul.leftWbcInfo {
    width: 50%;
}

ul.leftWbcInfo li {
    display: inline-block;
    margin-left: 13px;
    cursor: pointer;
}

h3.wbcClassInfoLeft {
    display: inline-block;
    font-weight: 600;
    /*margin-left: 13px;*/
}

ul.leftWbcInfo {
    display: inline-block;
    width: 54%;
    text-align: right;
}

.wbcClassDbDiv > div > p {
    display: inline-block;
    width: 33%;
    text-align: left;
    font-size: 0.8rem;
}

.wbcClassDbDiv {
    list-style: none;
}


.submittedTr {
    background: #dff7ff;
    color: #25313b;
}

.dbDataTable {
    height: 82.5vh;
    overflow-y: auto;
    display: block;
}

ul.orderListUi > li {
    margin-bottom: 5px;
}

ul.orderListUi > li > img {
    border: 1px solid #696969;
    border-radius: 3px;
}

button.searchClass {
    padding: 5px 25px;
    background: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.searchClass:hover{
    color: #000;
    background: #fff;
}
.reportDiv > div {
    display: inline-block;
    vertical-align: top;
}

.wbcDiv {
    width: 25%;
    margin-right: 10px;
    padding-right: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #000;
    border: 1px solid #303744;
    padding: 3px;
}

.reportDetail {
    width: 56%;
    background: #ffffff;
    color: #696969;
    font-size: 0.8rem;
    overflow-y: auto;
    max-height: 87vh;
    box-shadow: 2px 2px 2px #000;
    border-radius: 4px;
    margin-left: 10px;
}

li.onRight {
    color: #29c7ca;
}

.rbcRight {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    margin-left: 10px;
}

table.reportTable {
    text-align: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 0.8rem;
}

.reportTitle {
    text-align: left;
    background: #6f7e95;
    padding: 10px;
    font-size: 1rem;
    color: #ffffff;
}

h3.reportH3 {
    text-align: left;
    font-size: 0.9rem;
    padding: 10px;
    border-bottom: 1px solid #979797;
    font-weight: 600;
}

.categories.report {
    padding: 5px 5px;
}

.reportDivBottom {
    padding: 0px 10px;
}

table.reportTable tr {
    border-bottom: 1px solid #babec5;
}

.wbcLeft {
    width: 49%;
    display: inline-block;
}

.reportDivTop {
    padding: 0px 10px;
}

table.reportTable tr td {
    padding: 10px 10px;
}

table.reportTable tr th {
    padding: 10px 10px;
}

ul.wbcInfoFilter > li {
    display: inline-block;
    width: 40px;
    padding: 2px;
}

ul.wbcInfoFilter > li > input, ul.wbcInfoFilter > li > label {
    display: inline-block;
    width: 39%;
    font-size: 1rem;
}

ul.wbcInfoFilter {
    text-align: left;
}

.disabledLink {
    color: #939393 !important;
}

.wbcModal {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background: rgb(49 49 49 / 88%);
    /*padding-top: 10%;*/
}

.wbcModalImageContent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wbcModalImageContent > .buttons > button {
    background: #2c2d2c;
    color: white;
}

span.wbcClose {
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 4rem;
    right: 20px;
    cursor: pointer;
}

.buttons button {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    cursor: pointer;
}

select.stopDivSelect {
    margin-top: 5px;
}

.lastTestType label input {
    width: 25px;
}

h3.orderTitle {
    margin-bottom: 27px;
}

.wbcMenu {
    display: inline-block;
    width: 5%;
    vertical-align: top;
}

.wbcMenuBottom {
    position: absolute;
    bottom: 20px;
    left: 8px;
}

.wbcContent {
    display: inline-block;
    width: 95%;
    height: 92.5vh;
    vertical-align: top;
}

.imgSet {
    position: absolute;
    z-index: 9;
    background: #252629;
    width: 18%;
    padding: 20px 20px 20px 8px;
    text-align: left;
    left: 14%;
    top: 29px;
    border: 1px solid #fff;
}

select.selectSizeTitle {
    width: 106%;
    margin: 9px 0px 9px 0px;
}

.imgMenuSetDiv {
    position: relative;
    text-align: left;
}

.imgMenuSetDiv > button {
    background: none;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 5px;
    margin-right: 19px;
    cursor: pointer;
    padding: 3px;
}

.sizeContainer {
    position:absolute;
    left: 9%;
    background: #000;
    padding: 5px;
    max-width: 300px;
}

.sizeContainer div {
    text-align: center;
}

.sizeContainer div input, .sizeContainer div button {
    width: 250px;
}

button.resetBtn {
    background: none;
    color: #fff;
    border: 1px solid #ffffff;
    padding: 5px;
    width: 105%;
}

select.selectSizeTitle {
    width: 106%;
    margin: 9px 0px 9px 0px;
}

.wbcMenu ul li {
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 0.8rem;
}

.wbcMenuBottom > button {
    background: none;
    color: #fff;
    border: none;
    padding: 5px 12px;
    font-size: 2rem;
    cursor: pointer;
}

.wbcMenu::before {
    content: "";
    height: 95%;
    background: #252629;
    position: fixed;
    top: 80px;
    left: 0;
    width: 135px;
}

.wbcMenu ul {
    position: absolute;
    margin-top: 20px;
    width: 7%;
}

.reportSection {
    display: inline-block;
    width: 95%;
    min-height: 92.5vh;
}

.reportDiv {
    padding-left: 3%;
    display: flex;
    padding-top:10px;
}

.reportContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.reportContent table tr {
    padding: 10px;
}

.reportContent > table tr th {
    text-align: left;
    padding: 5px;
}

.reportContent > table tr td {
    text-align: right;
    padding: 5px;
}

h3.printDetailTitle {
    margin: 40px 0;
    font-size: 1.2rem;
    font-weight: 600;
}

button.printCloseBtn {
    position: absolute;
    right: 8px;
    background: none;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 7px 25px;
    top: 5px;
    cursor: pointer;
}

ul.cellImgBox.print {
    background: #fff;
}

.context-menu {
    position: absolute;
    background: #fff;
    color: #000;
    padding: 0px 10px;
    border-radius: 5px;
    border: 1px solid #000;
}

.context-menu li {
    margin: 10px 0;
    cursor: pointer;
}

.context-menu li:hover {
    background: #dedede;
}

.beforeAfterBtn button {
    background: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px;
    width: 65px;
    margin-right: 10px;
    cursor: pointer;
}

.beforeAfterBtn {
    text-align: center;
    margin-top: 30px;
}


table.tableClass td, table.tableClass th {
    text-align: left;
    padding: 5px;
}

table.tableClass {
    width: 100%;
}

.memoModal {
    position: absolute;
    left: 0;
    min-width: 300px;
    background: #313131;
    padding: 10px 15px 10px 10px;
    z-index: 9999999;
}

.memoModal textarea {
    width: 100%;
    max-width: 300px;
    height: 150px;
}

.memoModal button {
    background: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    margin-left: 9px;
    min-width: 50px;
    cursor: pointer;
}

.layer-body {
    color: #000;
    font-size: 0.8rem;
}

ul.editOrder li {
    margin-bottom: 10px;
}

ul.editOrder li input {
    margin-top: 5px;
}

ul.wbcHotKeysItems li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px auto;
    font-size: 1rem;
    width: 450px;
}

ul.wbcHotKeysItems {
    margin-bottom: 30px;
}

.alignDiv {
    width: 500px;
    margin: 0 auto;
    padding: 20px 0;
}

.alignDiv > label {
    display: flex;
    height: 27px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.alignDiv > label > input, .alignDiv > ul > li > input {
    width: 200px;
}

.rbcDiv {
    width: 28%;
    box-shadow: 2px 2px 2px #000;
    border: 1px solid #303744;
    padding: 3px;
    border-radius: 4px;
}

ul.normalItems {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul.normalItems li {
    display: inline-block;
    margin: 10px;
    max-width: 584px;
    font-size: 0.8rem;
    width: 100%;
}

ul.normalItems li div {
    display: block;
    width: 100%;
}

ul.normalItems li div span {
    display: inline-block;
    width: 41%;
    margin-right: 21px;
}

ul.normalItems li div span:last-child {
    width: 5%;
}

.bmclass {
    width: 74%!important;
    min-height: 67vh;
    text-align: left;
    justify-content: flex-start;
    padding: 4px 0;
}


.bmclass > div {
    width: 600px;
}

.titleText {
    padding-top: 10px;
    margin-left: 10px;
}

.wrap-whole {
    display: flex;
    justify-content: space-evenly;
    margin-left: 38px;
    height:90vh;
}

.image-container {
    position: relative;
    width: 40%;
    height: 92.2vh;
}


.dbWbcImageContainer {
    overflow-y: auto;
    max-height: 400px;
}

.dbBmImageContainer {
    overflow-y: auto;
    max-height: 400px;
}

.dbRightImages {
    width: 96px;
    margin: 0 5px 1px 0;
}

.leftWhole ul li {
    display: inline-block;
    max-width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.leftWhole ul li img {
    max-width: 100px;
}

.leftWhole {
    display: inline-block;
    width: 50%;
    background: #252629;
    padding: 10px;
    height:100%;
}
.leftWhole ul p {
    text-align: left;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}


.leftWhole ul {
    text-align: left;
    min-height: 150px;
}

.imgContent {
    width: 95%;
    display: inline-block;
}

.loginFooter input {
    width: 5%;
    vertical-align: middle;
}

.leftImgList {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.leftImgList ul {
    list-style: none;
    margin: 15px;
    padding: 0;
    flex: 1;
    overflow-y: auto;
}

.item-image {
    cursor: pointer;
    width: 100px;
    margin: 5px;
}

.selected {
    border: 6px solid rgb(106, 153, 194);
}


/* setting */
/* login/account */

.settingContainer {
    width: 920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.searchUserContainer {
    text-align: left;
    margin:30px;
}

.searchUserContainer select, .searchUserContainer input {
    width: 200px;
}

.table th, .table td {
    padding: 8px;
    text-align: center;
}

.table th, .table td {
    width: calc(100% / 8);
}

.searchSelect {
    width: 120px !important;
    padding: 7px;
    border: 1px solid black;
    border-radius: 5px;
}
.moveImgIsBool {
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 28%;
    background: #00000073;
    font-size: 2rem;
}
.searchInputBox {
    padding: 8px;
    border-radius: 5px;
    width: 300px;
}

.searchBtn {
    margin-left: 15px;
    color: #29c7ca;
}

.searchBtn:hover{
    cursor: pointer;
}

/* setting/analysis/database */
.tab-content {
    width: 700px;
    margin: 30px auto;
}

button.rollbackButton {
    position: absolute;
    right: -20px;
}

/* setting/version */
.versionContainer {
    width: 700px;
    margin: 50px auto 0;
}

.versionContainer > ul {
    display: flex;
    flex-direction: column;
}

.versionContainer > ul > li {
    width: 550px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 8px auto;
    gap: 100px;
    font-size: 1rem;
}

.versionContainer > ul > li > span {
    display: flex;
    width: 300px;
}

/* alert */
.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    z-index: 9999;
    padding: 45px 0;
    width: 400px;
    border: 1px solid #414141;
    background: #414141;
    border-radius: 5px;
    text-align: center;
}

.initBtn.isInitDisabled {
    background: #dedede;
    cursor: no-drop;
}

.iconHeaderMenu {
    position: absolute;
    right: 207px;
    top: 26px;
}
.imgSetWrap > button{
    background: none;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 5px;
    margin-right: 19px;
    cursor: pointer;
    padding: 3px;
}

.imgSetWrap {
    display: inline-block;
    vertical-align: top;
}
.alert-error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.alertButton {
    border: none;
    background-color: #29c7ca;
    width: 65px;
    color: #fff;
    padding: 10px;
    margin: 3px;
    border-radius: 2px;
}

.isBeforeClicked {
    color: red !important;
}

.iconSize {
    font-size: 20px;
}
.wbcModalImageContent .buttons {
    position: absolute;
    left: 38%;
    bottom: -58%;
}

.wbc-modal-content .buttons {
    position: absolute;
    left: 47%;
    bottom: 92px;
}

.wbc-modal-content {
    position: relative;
    height: 100%;
}
.blinkColor {
    color: red;
}


.slider img {
    width: 150px;
    height: 150px;
}

.slider {
    width: 100%;
    height: 152px;
    overflow: hidden;
}

.cbcDiv {
    display: inline-block;
    width: 20%;
    margin-left: 41px;
    background: #252629;
    border: 1px solid #fff;
    height: 94%;
    margin-right: 4px;
}

.databaseWbcRight.cbcLayer {
    width: 20%;
}

.databaseWbcLeft.cbcLayer {
    width: 56%;
}

h1.titleCbc {
    margin-top: 10px;
}

li.cbcLi {
    margin-top: 40px;
}

.cbcLi {
    position: absolute;
    bottom: 100px;
    left: 36px;
    font-size: 0.8rem;
    cursor: pointer;
}

.cbcLi svg {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
p.menuIco {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.onRight.cbcLi {
    color: #29c7ca;
}

.rbc-select-box{
    position: absolute;
    z-index: 99999;
    background: #fff;
    color: #000;
    min-width: 195px;
    height: 300px;
    overflow-y: scroll;
}