/*공통 css*/
.mt1 {
    margin-top: 10px;
}

.mt2 {
    margin-top: 20px;
}

.mt3 {
    margin-top: 30px;
}

.mt4 {
    margin-top: 40px;
}

.mb1 {
    margin-bottom: 10px;
}

.mb2 {
    margin-bottom: 20px;
}

/* header-menu */
.header {
    height: 5rem;
    width: 100%;
    display: block;
    background: #353942;
}

.appHeaderLeft > a {
    font-size: 1rem;
    color: #ffffff;
    display: block;
    margin-top: 0px;
    text-align: left;
    padding-left: 30px;
    padding: 30px;
}

.appHeaderLeft > a > p {
    margin-top: 7px;
    font-size: 0.8rem;
}
.toggleHeadBtn {
    background: #35b0b6;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.appHeaderLeft {
    height: 100%;
    position: absolute;
    background: #353942;
    width: 12%;
    text-align: center;
    border-right: 1px solid #dedede;
}

.leftMenu {
    text-align: left;
    margin-left: 13%;
    padding-top: 47px;
}

.borderLine {
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 1.9rem;
    font-weight: 700;
    width: 100%;
    margin-bottom: 0px;
    color: #ffffff;
    background: #29c7ca;
    margin-left: 0;
}

.leftMenu > ul > li {
    display: inline-block;
    margin-left: 8px;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 200;
    font-family: sans-serif;
}

.display-flex > div {
    vertical-align: middle;
    padding-top: 31px;
    color: #ffffff;
    text-align: left;
}

.lastMenu {
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    background: #e6614a;
    height: 3.39rem;
    padding: 0 33px;
    padding-top: 26px !important;
}

span.icoText {
    margin-left: 7px;
    display: inline-block;
}

.greenColor {
    color: #000;
}

/* header-menu-end */

/*main*/
main.content {
    margin-left: 11.5%;
    margin-top: 7px;
    margin-right: 7px;
}

.contentLeft {
    text-align: left;
    background: #f1f3f2;
    display: inline-block;
    width: 20%;
    margin: 10px;
    padding: 10px;
    margin-top: 0;
}

.contentRight {
    display: inline-block;
    width: 77%;
    align-items: start;
    vertical-align: top;
    background: #f1f3f2;
}

.contentRight > div {
    display: inline-block;
    vertical-align: top;
    width: 35.4%;
    background: #fff;
    margin: 7px 4px;
    padding: 10px;
}

.contentLeft > div{
    background: #ffffff;
    padding: 10px;
}

.contentRight > div:first-child {
    width: 22%;
}

h3.titleText {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.execute {
    text-align: center;
    background: #fff;
    /*border: 1px solid #28c7c7;*/
    padding: 19px;
    display: flex;
    justify-content: space-between;
}

.initBtn {
    background: #353942;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin: 7px;
    font-size: 0.9rem;
}

p.startStopP {
    border: 1px solid #28c7c7;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.stopDiv {
    margin-left: 5px;
}

.leftActive {
    background: #484c59;
}

.circular-progress-bar {
    width: 120px;
    height: 120px;
    position: relative;
}
/*동그라미*/
.progress-ring-circle {
    fill: transparent;
    stroke-width: 4px;
    stroke: #506496; /* 테두리 색상 */
    stroke-dasharray: 200; /* 테두리 길이, 적절한 값으로 조절해보세요 */
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.5s ease;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}
.circular-progress-bar{
    width: 100%;
}

.categories {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
}


ul.classInfo {
    width: 50%;
    display: inline-block;
}

ul.categoryNm {
    display: inline-block;
    width: 35%;
}

ul.classNm {
    display: inline-block;
    text-align: left;
    min-width: 150px;
}

ul.degree {
    display: inline-block;
    width: 20%;
}

.degreeActive {
    color: #3498db;
}

.categories > ul > li {
    padding-top: 10px;
    font-size: 0.8rem;
}
.categories > ul > li > svg {
    margin-right: 2px;
}

li.mb1.liTitle {
    font-weight: 600;
}
/*main end*/
