/* 공통 스타일 */
.base-btn {
    position: relative;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 16px;
    gap: 8px;
    transition: 0.2s all;
}

.base-btn:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.base-btn.blueText {
    color: var(--blue-bg-0-color);
}

/* 크기 설정 */
.base-btn--xs {
    font-size: 10px;
    padding: 4px 8px;
}

.base-btn--sm {
    font-size: 0.8rem;
    padding: 6px 12px;
}
.base-btn--md {
    font-size: 0.8rem;
    padding: 8px 16px;
}
.base-btn--lg {
    font-size: 1rem;
    padding: 10px 20px;
}

/* primary 스타일 */
.base-btn--primary {
    background: transparent;
    color: white;
    border: 1px solid white;
}
.base-btn--primary.base-btn--active {
    background: var(--white-bg-0-color);
    color: black;
}
.base-btn--primary.base-btn--hover {
    background: rgba(255, 255, 255, 0.2);
}

/* secondary 스타일 */
.base-btn--secondary {
    color: black;
    border: 1px solid #000;
    background: #fff;
}
.base-btn--secondary.base-btn--active {
    background: var(--white-bg-0-color);
    color: black;
}
.base-btn--secondary.base-btn--hover {
    background: rgba(255, 255, 255, 0.2);
}

/* 비활성화 상태 */
.base-btn--disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.classInfo-barcode-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 200px;
}

.classInfo-barcode-wrapper > img {
    height: 200px;
}

.categories-lastItem {
    border-bottom: none;
}

.imageList-tab-btn {
    width: 120px;
    padding: 10px 20px;
    border: none;
    color: var(--white-color);
    background-color: var(--main-bg-9-color);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.imageList-btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.imageList-setting-container {
    position: absolute;
    top: 40px;
    left: -147px;
    width: 250px;
    background: var(--main-bg-2-color);
    border: 1px solid var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    border-radius: 4px;
}

.imageList-setting-container div {
    padding: 10px 20px 10px 10px;
}

.listDetail-top-button-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px auto;
}

.listDetail-top-button-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.listDetail-size-setting-container {
    position: absolute;
    top: 36px;
    left: 120px;
    background: var(--main-bg-2-color);
    border: 1px solid var(--white-color);
    border-radius: 4px;
    width: 270px;
    z-index: 3;
    padding: 10px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listDetail-size-setting-container > input {
    width: 96%;
}

.listDetail-size-setting-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 80%;
}

.sizeContainer div {
    text-align: center;
}

.sizeContainer div input, .sizeContainer div button {
    width: 250px;
}

.listDetail-img-setting-container {
    position: absolute;
    top: 36px;
    left: 0;
    background: var(--main-bg-2-color);
    border: 1px solid var(--white-color);
    border-radius: 4px;
    width: 300px;
    z-index: 3;
    padding: 10px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.listDetail-img-setting-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listDetail-img-setting-wrapper > input {
    width: 96%;
}

.listDetail-img-setting-rbcWrapper {
    display: flex;
    align-items: center;
    width: 95%;
}

.listDetail-wbcCircle-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    overflow-x: auto;
}

.listDetail-wbcCircle-wrapper .circle {
    padding-top: 13px;
    position: relative;
}

.listDetail-wbcCircle-wrapper > li {
    padding: 4px;
    display: inline-block;
    border: 1px solid var(--gray-1-color);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    min-width: 50px;
    font-size: 0.8rem;
    vertical-align: middle;
    cursor: pointer;
}

.listDetail-wbcCircle-wrapper >li:hover {
    background-color: var(--white-color);
    color: black;
}

.detailHeader-tool-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

.rbcClass-content-title-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 0.8rem;
    padding: 2px;
}

.rbcClassReport-content-title-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 0.8rem;
    padding: 2px;
}

.rbcClassReport-content-title-wrapper > li {
    padding: 5px;
}

.rbcClass-content-title-wrapper > li {
    padding: 5px;
}

.rbcClass-content-title-wrapper > li:nth-child(1) {
    width: 15%;
    text-align: left;
}

.rbcClassReport-content-title-wrapper > li:nth-child(1) {
    width: 13%;
    text-align: left;
}

.rbcClass-content-title-wrapper > li:nth-child(2) {
    width: 37%;
    text-align: left;
}

.rbcClassReport-content-title-wrapper > li:nth-child(2) {
    width: 32%;
    text-align: left;
}

.rbcClass-content-title-wrapper > li:nth-child(3) {
    text-align: center;
    width: 21%;
}

.rbcClassReport-content-title-wrapper > li:nth-child(3) {
    width: 20%;
    text-align: center;
}

.rbcClass-content-title-wrapper > li:nth-child(4) {
    text-align: center;
    width: 10%;
}

.rbcClassReport-content-title-wrapper > li:nth-child(4) {
    width: 11%;
    text-align: left;
}

.rbcClass-content-title-wrapper > li:nth-child(5) {
    text-align: center;
    width: 16%;
}

.rbcClassReport-content-title-wrapper > li:nth-child(5) {
    width: 10%;
    text-align: center;
}