
@media (min-width: 1920px) {
}    /*공통 css*/
.mt1 {
    margin-top: 10px;
}

.mt2 {
    margin-top: 20px;
}

.mt3 {
    margin-top: 30px;
}

.mt4 {
    margin-top: 40px;
}

.mb1 {
    margin-bottom: 10px;
}

.mb2 {
    margin-bottom: 20px;
}

.pl0 {
    padding-left: 0 !important;
}

/* header-menu */
.header {
    width: 100%;
    display: block;
    background: #353942;
}

.printStart {
    margin-left: 10px;
    border: 1px solid #fff;
    padding: 5px;
    vertical-align: middle;
    cursor: pointer;
}

.appHeaderLeft > a {
    font-size: 1rem;
    color: #ffffff;
    margin-top: 0px;
    text-align: left;
    padding-left: 30px;
    padding: 30px;
    display: inline-block;
    vertical-align: top;
    height: 20px;
}

.appHeaderLeft > a > p {
    margin-top: 7px;
    font-size: 0.8rem;
}

main.content {
    background: #25313b;
    padding: 10px;
    height: 92vh;
    /* 바디 세로 스크롤 방지*/
    position: fixed;
    width:100%;
}

.toggleHeadBtn {
    background: #35b0b6;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.appHeaderLeft {
    height: 100%;
    background: #252629;
    text-align: left;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #494949;
}

.leftMenu {
    text-align: left;
    margin-left: 0;
    display: inline-block;
    width: 99%;
    padding: 14px 0;
    background: #2d3d4a;
    padding-left: 16px;
}
.bmclass .categories {
    justify-content: flex-start;
}
.small-icon-menu {
    display: inline-block;
    width: 53%;
    text-align: right;
}

.borderLine {
    margin: 0 auto;
    padding-top: 31px;
    padding-bottom: 25px;
    font-size: 1.5rem;
    font-weight: 500;
    width: 7%;
    margin-bottom: 0px;
    display: inline-block;
    color: #ffffff;
    background: #29c7ca;
    margin-left: 0;
    text-align: center;
}

.loginColorSpan {
    color: #29c7ca;
}

.leftMenu > ul > li.storage {
    border-right: none;
}

.leftMenu > ul > li {
    display: inline-block;
    margin-right: 8px;
    padding-right: 8px;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 200;
    font-family: sans-serif;
    border-right: 1px solid #dedede;
}

.startBtn.onRecover {
    color: #37b9c8;
}

.lastLiM {
    cursor: pointer;
}

.display-flex > div {
    vertical-align: middle;
    padding-top: 31px;
    color: #ffffff;
    text-align: left;
}

.logOutBox {
    position: absolute;
    background: #fff;
    color: #696969;
    padding: 5px;
    border: 1px solid #696969;
    top: 64px;
    width: 113px;
    text-align: center;
}

.lastMenu {
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    background: #252629;
    height: 3.39rem;
    padding: 0 33px;
    padding-top: 26px !important;
    color: #fff;
    border-left: 1px solid #515a67;
}

span.icoText {
    margin-left: 7px;
    display: inline-block;
}

.greenColor {
    color: #ffffff;
}

/* header-menu-end */

/*main*/

@media (min-width: 1920px) {
}
.contentLeft {
    text-align: left;
    display: inline-block;
    width: 28%;
    padding: 0;
    margin-top: 0;
    height: 89vh;
}

.contentRight {
    display: inline-block;
    width: 72%;
    align-items: start;
    vertical-align: top;
    height: 89vh;
}

.contentRight > div {
    display: inline-block;
    vertical-align: top;
    width: 36%;
    background: #252629;
    padding: 10px;
    margin: 0px 10px 0px 0px;
    border-radius: 5px;
}

.contentLeft > div {
    background: #252629;
    padding: 10px;
    border-radius: 5px;
    margin: 0px 10px 10px 0px;
}

.contentRight > div:first-child {
    width: 21%;
}

h3.titleText {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.execute {
    text-align: center;
    background: #fff;
    /* border: 1px solid #28c7c7; */
    padding: 19px;
    display: flex;
    justify-content: space-between;
    margin-top: 0px !important;
}

.initBtn {
    background: #212121;
    color: #fff;
    border-radius: 5px;
    padding: 16px;
    margin: 12px 0 0 2px;
    font-size: 0.9rem;
    cursor: pointer;
    border: 1px solid;
}

p.startStopP {
    border: 1px solid #ffffff;
    padding: 20px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.stopDiv {
    margin-left: 5px;
    width: 50%;
}

.stopDiv > select {
    margin-top: 0px;
    border-radius: 5px;
}

.leftActive {
    border-bottom: 1px solid #29c7ca;
    height: 19px !important;
    color: #29c7ca !important;
}

.settingWrapDiv {
    min-height: 89vh;
}

ul.customClass li span {
    display: inline-block;
    min-width: 200px;
    margin-right: 22px;
    vertical-align: middle;
}

ul.customClass li {
    margin: 5px;
}

.degreeDiv button {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 3px 23px;
    border-radius: 5px;
    margin-right: 5px;
    min-width: 150px;
    cursor: pointer;
}

.circular-progress-bar {
    width: 120px;
    height: 120px;
    position: relative;
}

.backupDiv {
    text-align: center;
}

table.settingTable {
    width: 35%;
    text-align: left;
    margin: auto;
}

.backupDiv input {
    width: 25.7%;
}

button.saveBtn, .defaultBtn {
    margin-top: 20px;
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 10px 160px;
    cursor: pointer;
}

.defaultBtn:hover, .saveBtn:hover{
    background: #ffffff;
    color: #000;
}

/*동그라미*/
.progress-ring-circle {
    fill: transparent;
    stroke-width: 4px;
    stroke: #506496; /* 테두리 색상 */
    stroke-dasharray: 200; /* 테두리 길이, 적절한 값으로 조절해보세요 */
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.5s ease;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

.circular-progress-bar {
    width: 100%;
}

.rotate-animation {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*동그라미 끝*/
.categories {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
}


ul.classInfo {
    width: 50%;
    display: inline-block;
}

.categoryNm {
    display: inline-block;
    width: 35%;
}

.classNm {
    display: inline-block;
    text-align: left;
    min-width: 150px;
}

.degree {
    display: inline-block;
    width: 20%;
}

ul.nth1Child li {
    display: inline-block;
    font-size: 0.8rem;
    padding: 5px 0;
    cursor: move;
    user-select: none;
}

ul.nth1Child {
    display: flex;
}

ul.nth1Child > :nth-child(1) {
    width: 40%;
    text-align: left;
}

ul.nth1Child > :nth-child(2) {
    width: 40%;
    text-align: left;
}

ul.nth1Child > :nth-child(3) {
    width: 20%;
}

.degreeActive {
    color: #3498db;
}

.categories > ul > li {
    padding-top: 10px;
    font-size: 0.8rem;
}

.categories > ul > li > svg {
    margin-right: 2px;
}

li.mb1.liTitle {
    font-weight: 600;
}

.startBtn.isInit {
    color: #dedede;
}

ul.slideContent li {
    width: 100%;
    height: 20px;
    background: #dedede;
    margin: 5px 0px;
}

ul.slideContent {
    width: 45%;
    display: inline-block;
    margin: 5px;
}

ul.slideContent .class-for-state-1 {
    background: #37B9C8;
}

ul.slideContent .class-for-state-0 {
    background: #dedede;
}

@keyframes blinkBackground {
    0% {
        background-color: #dedede; /* 초기 배경 색상 */
    }
    50% {
        background-color: #3498db; /* 깜빡거리는 중간 배경 색상 */
    }
    100% {
        background-color: #dedede; /* 다시 초기 배경 색상 */
    }
}

ul.slideContent .class-for-state-2 {
    animation: blinkBackground 1s infinite; /* 1초 간격으로 무한 반복됨 */
}

ul.slideContent .class-for-state-3 {
    background: #2A5A98;
}

ul.slideContent .class-for-state-4 {
    background: #A73A3A;
}

ul.slideContent .out-for-state-0 {
    background: #dedede;
}

ul.slideContent .out-for-state-1 {
    background: #37B9C8;
}

ul.slideContent .outClassDefault {
    background: #4D4F5C;
}

.orderListTable {
    width: 100%;
    height: 45vh;
}

.orderListTable th, .orderListTable td {
    font-size: 0.8rem;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

.orderListTable th {
    background: #212121;
    color: #ffffff;
}

p.slideTime {
    position: absolute;
    top: 53px;
    left: 40%;
    font-size: 0.9rem;
}

.startDiv {
    width: 50%;
}

.startDiv > select {
    width: 100%;
}

p.startStopP:hover {
    border: 1px solid #353942;
    background-color: #fff;
}

ul.slideContent > p {
    font-size: 0.8rem;
    font-weight: 600;
}

ul.processInfoUl > li {
    font-size: 0.8rem;
    padding: 4px 0;
    display: flex;
    justify-content: space-between;
}

.contentRightChild {
    min-height: 68vh;
}

span.proSpan {
    font-weight: 600;
}

.contentBottom {
    width: 97.5% !important;
    min-height: 142px;
    margin-top: 10px !important;
}

.uimdLogin {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #252629;
}

.loginContent {
    margin: 0 auto;
    margin-top: 13%;
}
.joinContent input {
    box-shadow: none!important;
    width: 90%;
    display: inline-block;
    max-width: 250px;
}

.joinContent li {
    text-align: center;
}

.joinContent li span {
    min-width: 150px;
    display: inline-block;
    text-align: left;
}

.joinContent select {
    box-shadow: none;
    width: 91%;
    display: inline-block;
    max-width: 271px;
    height: 35px;
    margin-top: 3px;
}

.joinContent ul {
}
p.loginTitle {
    color: #fff;
    font-size: 3rem;
}

p.loginP {
    color: #fff;
}

ul.loginUl {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
}

.loginBtn > button {
    background: #3498db;
    border: none;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.loginFooter {
    text-align: left;
    padding: 0px 10px 10px 10px;
    font-size: 0.8rem;
    vertical-align: middle;
    color: #818181;
}

ul.loginUl li {
    color: #fff;
    text-align: center;
}

input.loginInput {
    width: 92%;
    border: none;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px #dedede;
}

.loginDiv {
    background: #f7fafc;
    max-width: 553px;
    margin: auto;
    min-height: 300px;
    border-radius: 5px;
    margin-top: 35px;
    padding: 30px 73px;

}

.runRed {
    color: #ff003b;
}

.runBlue {
    color: #2A5A98;
}

.blinking {
    animation: blink 0.5s infinite alternate;
}

@keyframes blink {
    0% {
        color: #ffffff;
    }
    100% {
        color: red;
    }
}

.oliCount {
    cursor: pointer;
}

.statusBarWrapper {
    width: 100%;
    height: 20px;
    margin-top: 5px;
    background-color: #063E5F;
}

.statusBar {
    width: 80%;
    height: 20px;
    margin-top: 5px;
    background-color: #0080C1;
}

ul.settingTabBtn li {
    display: inline-block;
    cursor: pointer;
    margin-right: 25px;
    min-width: 7%;
}

.settingWrap {
    padding: 0px 20px;
}


li.activeTab {
    font-weight: 600;
    border-bottom: 1px solid #3498db;
}

table.settingTable td, table.settingTable th {
    height: 45px;
    font-size: 0.9rem;
}

.range-slider {
    position: relative;
    width: 100%;
    height: 20px;
}

.slider-track {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #ccc;
    transform: translateY(-50%);
}

.slider-dot {
    position: absolute;
    top: 50%;
    width: 10px;
    height: 10px;
    background-color: #007bff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.degreeInput input {
    display: inline-block;
    max-width: 150px;
    margin: 0px 5px;
}

.degreeInput input {
    display: inline-block;
    max-width: 100px;
    margin: 0px 5px;
}

.rbcClassListArr {
    display: inline-block;
    vertical-align: top;
    font-size: 0.8rem;
}

.tab-buttons {
    margin: 20px 0;
}

.tab-buttons button {
    padding: 10px;
    margin: 0;
    border: none;
    cursor: pointer;
}

.tab-buttons button.active {
    background-color: #ccc;
}

.filterListDiv > div > select, .filterListDiv > div > input, .filterListDiv > div > div {
    display: inline-block;
    width: 20%;
    margin-right: 15px;
}

table.defaultTable thead th {
    background: #252629;
}

table.defaultTable thead th, table.defaultTable tbody td {
    padding: 10px;
    font-size: 0.8rem;
    text-align: center;
}

table.defaultTable tbody td {
    border-bottom: 1px solid #dedede;
}

.listBox {
    width: 34%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-left: 18px;
}

.listBoxTable {
    width: 65%;
    display: inline-block;
    text-align: left;
}

.text-center {
    text-align: center;
}

.filterDivBox {
    position: absolute;
    background: #000;
    max-width: 917px;
    padding: 10px;
    border: 1px solid #fff;
    top: 0;
}

.filterListDiv {
    position: relative;
}

.selectedTr {
    border: 3px solid #6effc9;
}

h3.titleH3 {
    text-align: left;
    margin-bottom: 10px;
}

ul.wbcInfoDbUl > li {
    display: inline-block;
    border: 1px solid #dedede;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    font-size: 0.8rem;
    vertical-align: middle;
}

.filterDivBox > div {
    vertical-align: top;
}

.circle {
    text-align: center;
    padding-top: 7px;
}

.titleImg {
    position: absolute;
    color: #00000094;
    background: none;
}

.hh3title {
    font-weight: 600;
}

ul.wbcInfoDbUl {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul.wbcInfoDbUl .circle {
    padding-top: 13px;
    cursor: pointer;
}

ul.wbcImgWrap > li {
    display: inline-block;
    margin: 5px;
    cursor: move;
}

.selected-image {
    border: 2px solid #ff00eb !important;
    margin: 3px !important;
}

ul.wbcImgWrap > li > img {
    /*max-width: 150px;*/
    /*max-height: 150px;*/
}

.databaseWbcRight {
    display: inline-block;
    width: 24%;
    vertical-align: top;
    text-align: left;
    margin-right: 10px;
}

.databaseWbcLeft {
    display: inline-block;
    width: 70%;
    vertical-align: top;
}

ul.cellImgBox {
    max-height: 76.9vh;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: left;
    padding-left: 20px;
    background: #252629;
}

.wbcClassScroll {
    max-height: 65vh;
    overflow-x: auto;
}

ul.cellImgBox input {
    width: 13px;
}

ul.leftWbcInfo li {
    display: inline-block;
    margin-left: 13px;
    cursor: pointer;
}

h3.wbcClassInfoLeft {
    display: inline-block;
    font-weight: 600;
}

ul.leftWbcInfo {
    display: inline-block;
    width: 55%;
    text-align: right;
}

.border-changed {
    border: 2px solid #3fff00;
    margin: 3px !important;
}

.wbcClassDbDiv > div > p {
    display: inline-block;
    width: 33%;
    text-align: left;
    font-size: 0.8rem;
}

.wbcClassDbDiv {
    list-style: none;
}

.wbcImgWrap {
    text-align: left;
    min-height: 150px;
}

.submittedTr {
    background: #dff7ff;
    color: #25313b;
}

.dbDataTable {
    height: 80vh;
    overflow-y: auto;
    display: block;
}

ul.orderListUl > li {
    margin-bottom: 5px;
}

button.searchClass {
    padding: 5px 25px;
    background: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reportDiv > div {
    display: inline-block;
    vertical-align: top;
}

.wbcDiv {
    width: 20%;
    margin-right: 20px;
    padding-right: 10px;
}

.reportDetail {
    width: 57%;
    background: #ffffff;
    margin-left: 10px;
    color: #696969;
    font-size: 0.8rem;
    margin-top: 20px;
    overflow-y: auto;
    max-height: 87vh;
}

li.onRight {
    color: #29c7ca;
}

.rbcRight {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    margin-left: 10px;
}

table.reportTable {
    text-align: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 0.8rem;
}

.reportTitle {
    text-align: left;
    background: #6f7e95;
    padding: 10px;
    font-size: 1rem;
    color: #ffffff;
}

h3.reportH3 {
    text-align: left;
    font-size: 0.9rem;
    padding: 10px;
    border-bottom: 1px solid #979797;
    font-weight: 600;
}

.categories.report {
    padding: 5px 5px;
}

.reportDivBottom {
    padding: 0px 10px;
}

table.reportTable tr {
    border-bottom: 1px solid #babec5;
}

.wbcLeft {
    width: 49%;
    display: inline-block;
}

.reportDivTop {
    padding: 0px 10px;
}

table.reportTable tr td {
    padding: 10px 10px;
}

table.reportTable tr th {
    padding: 10px 10px;
}

ul.wbcInfoFilter > li {
    display: inline-block;
}

ul.wbcInfoFilter > li > input, ul.wbcInfoFilter > li > label {
    display: inline-block;
    width: 39%;
    font-size: 0.8rem;
}

ul.wbcInfoFilter {
    text-align: left;
}

.disabledLink {
    color: #939393 !important;
}

.wbcModal {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background: rgb(49 49 49 / 88%);
    padding-top: 10%;
}

span.wbcClose {
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 4rem;
    right: 20px;
    cursor: pointer;
}

.buttons button {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    cursor: pointer;
}

select.stopDivSelect {
    margin-top: 5px;
}

.lastTestType label {
    display: inline-block;
    text-align: left;
}

.lastTestType label input {
    width: 25px;
}

h3.orderTitle {
    margin-bottom: 27px;
}

.wbcMenu {
    display: inline-block;
    width: 5%;
    vertical-align: top;
}

.wbcMenuBottom {
    position: absolute;
    bottom: 20px;
    left: 8px;
}

.wbcContent {
    display: inline-block;
    width: 95%;
    vertical-align: top;
}

.imgSet {
    position: absolute;
    z-index: 9;
    background: #252629;
    width: 18%;
    padding: 20px 20px 20px 8px;
    text-align: left;
    left: 14%;
    top: 29px;
    border: 1px solid #fff;
}

select.selectSizeTitle {
    width: 106%;
    margin: 9px 0px 9px 0px;
}

.imgMenuSetDiv {
    position: relative;
    text-align: left;
}

.imgMenuSetDiv > button {
    background: none;
    color: #fff;
    font-size: 1rem;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-right: 19px;
    cursor: pointer;
}

button.resetBtn {
    background: none;
    color: #fff;
    border: 1px solid #ffffff;
    padding: 5px;
    width: 105%;
}

select.selectSizeTitle {
    width: 106%;
    margin: 9px 0px 9px 0px;
}

.wbcMenu ul li {
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 0.8rem;
}

.wbcMenuBottom > button {
    background: none;
    color: #fff;
    border: none;
    padding: 5px 12px;
    font-size: 2rem;
    cursor: pointer;
}

.wbcMenu::before {
    content: "";
    height: 95%;
    background: #252629;
    position: fixed;
    top: 80px;
    left: 0;
    width: 135px;
}

.wbcMenu ul {
    position: absolute;
    margin-top: 20px;
    width: 6%;
}

.reportSection {
    display: inline-block;
    width: 95%;
    min-height: 89vh;
}

.reportDiv {
    padding-left: 3%;
}

.printSection {
    position: absolute;
    top: 0;
    background: #fff;
    margin: auto;
    left: 29%;
    max-width: 980px;
    color: #000;
}

.printSection {
    position: absolute;
    top: 0;
    background: #fff;
    margin: auto;
    left: 29%;
    max-width: 980px;
    color: #000;
}

.reportContent > table tr th, .reportContent > table tr td {
    text-align: left;
    padding: 5px;
}

.reportContent table {
    width: 100%;
}

h3.printDetailTitle {
    margin: 40px 0;
    font-size: 1.2rem;
    font-weight: 600;
}

button.printCloseBtn {
    position: absolute;
    right: 8px;
    background: none;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 7px 25px;
    top: 5px;
    cursor: pointer;
}

ul.cellImgBox.print {
    background: #fff;
}

.context-menu {
    position: absolute;
    background: #fff;
    color: #000;
    padding: 0px 10px;
    border-radius: 5px;
    border: 1px solid #000;
}

.context-menu li {
    margin: 10px 0;
    cursor: pointer;
}

.context-menu li:hover {
    background: #dedede;
}

.beforeAfterBtn button {
    background: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.beforeAfterBtn {
    text-align: center;
    margin-top: 10px;
}

table.tableClass td, table.tableClass th {
    text-align: left;
    padding: 5px;
}

table.tableClass {
    width: 100%;
}

.memoModal {
    position: absolute;
    left: 0;
    min-width: 300px;
    background: #313131;
    padding: 10px 15px 10px 10px;
    z-index: 9999999;
}

.memoModal textarea {
    width: 100%;
    max-width: 300px;
    height: 150px;
}

.memoModal button {
    background: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    margin-left: 9px;
    min-width: 50px;
    cursor: pointer;
}

.layer-body {
    color: #000;
    font-size: 0.8rem;
}

ul.editOrder li {
    margin-bottom: 10px;
}

ul.editOrder li input {
    margin-top: 5px;
}

ul.wbcHotKeysItems li {
    display: inline-block;
    margin: 10px;
    max-width: 200px;
    font-size: 0.8rem;
}

ul.wbcHotKeysItems {
    text-align: left;
}

.alignDiv label {
    display: inline-block;
    margin: 10px;
    max-width: 200px;
    font-size: 0.8rem;
}
.alignDiv li {
    display: inline-block;
    margin: 10px;
    max-width: 200px;
    font-size: 0.8rem;
}
.alignDiv {
    text-align: left;
}

.rbcDiv {
    width: 20%;
}

ul.normalItems {
    text-align: left;
}

ul.normalItems li {
    display: inline-block;
    margin: 10px;
    max-width: 584px;
    font-size: 0.8rem;
    width: 100%;
}

ul.normalItems li div {
    display: block;
    width: 100%;
}

ul.normalItems li div span {
    display: inline-block;
    width: 41%;
    margin-right: 21px;
}

ul.normalItems li div span:last-child {
    width: 5%;
}

.bmclass {
    width: 74%!important;
    min-height: 68vh;
}

.leftWhole ul li {
    display: inline-block;
    max-width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.leftWhole ul li img {
    max-width: 100px;
}

.leftWhole {
    display: inline-block;
    width: 50%;
    background: #252629;
    padding: 10px;
}
.leftWhole ul p {
    text-align: left;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.wrap-whole {
    display: flex;
    justify-content: space-around;
    margin-left: 38px;
    height:90vh;
}
.leftWhole ul {
    text-align: left;
    min-height: 150px;
}

.imgContent {
    width: 95%;
    display: inline-block;
}

.loginFooter input {
    width: 5%;
    vertical-align: middle;
}

.leftImgList {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.leftImgList ul {
    list-style: none;
    margin: 15px;
    padding: 0;
    flex: 1;
    overflow-y: auto;
}